#binary {position:absolute; height:15%; top:9%; right:10px;}

@media screen and (max-width: 396px) {
  #binary2 {
    height:10px;
  }
}


@media screen and (max-width: 403px) {
  #github {
    position:absolute;
    height:1px
    float:right;
  }
}

@media screen and (max-width: 320px) {
  .titleN {
  font-size:25px;
  }
  #github{
  position:absolute;
  left:5px;
  }
  .container{
    font-size:9px;
  }

}
@media screen and (max-width: 375px) {
  #github{
  position:absolute;
  right:-15px;
  }
}
#toDo{
right: 10%;
width: 105%;
}

